body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/img/back.jpg");
    min-height: 95%;
}
#login{
    background-position: center;
    background-size: cover;
    background-image: url("/img/register.jpg");
    min-height: 95%;  
}
#register{
    background-position: center;
    background-size: cover;
    background-image: url("/img/login.jpg");
    min-height: 95%;  
}
#message_list img {
    border-radius: 25px;
}
.backLogin{
padding-left: 15px;
padding-right: 15px;
background: rgba(54, 25, 25, .5);
}
.menu {
    display: none;
}
    .post_item:hover {background-color: #F8F1F1;
border-radius: 10px;}